<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="jdt2uml.compilation.participant"
         name="Jdt2UML compilation participant"
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="org.obeonetwork.jdt2uml.core.internal.job.JdtCompilationParticipant"
            id="org.obeonetwork.jdt2uml.core.compilationParticipant">
         <managedMarker
               markerType="org.eclipse.jdt.apt.core.compile.problem">
         </managedMarker>
      </compilationParticipant>
   </extension>
</plugin>
